*{
	box-sizing: border-box;
}
a {
	color: white;
	text-decoration: none;
	/*transition: all 0.5s ease;*/
}
a:hover {
	color: #ced3db;
	/*transition: all 0.5s ease;*/
}
.buttonInvis {
	height: 100px;
	width: 200px;
	margin: auto;
	background-color: #e8ebef;
	border-radius: 20px;
	box-shadow: 0px 0px rgba(255,0,255,0.0),
				0px 0px rgba(0,255,255,0.0),
				0px 0px rgba(255,255,0,0.0),
				0px 0px rgba(0,0,0,0.0),
				inset 5px 10px rgba(0,0,0,0.05),
				inset -5px -10px rgba(255,255,255,0.4);
	transition: all 0.5s ease;
	text-align: center;
	vertical-align: middle;
	line-height: 100px;
	font-size: 10px;
	font-family: 'Alegreya Sans SC', sans-serif;
}
.buttonInvis:hover {
	background-color: white;
	height: 120px;
	width: 240px;
	box-shadow: 10px 20px rgba(255,0,255,0.15),
				-10px 20px rgba(0,255,255,0.15),
				-10px -5px rgba(255,255,0,0.15),
				10px -5px rgba(0,0,0,0.05),
				inset 0px 0px rgba(0,0,0,0.0),
				inset 0px 0px rgba(255,255,255,0.0);
	transition: all 0.5s ease;
	font-size: 12px;
	line-height: 120px;
}
.buttonSpacer{
	position: fixed;
	right: 10px;
	bottom: 10px;
	height: 150px;
	width: 250px;
	float: right;
}
.content{
	width: 1000px;
	margin: auto;
	/*border: 2px solid red;*/
	text-align: center;
	background-color: #e55039;
	border-radius: 20px;
	box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.5);
	color: #fad390;
	padding-top: 20px;
	margin-top: 40px;
	padding-bottom: 20px;
}
.list{
	/*border: 2px solid red;*/
	text-align: left;
	font-family: 'Poiret One', cursive;
	font-size: 20px;
}

.background{
	background: radial-gradient(circle, #f8c291, #e55039) no-repeat center center fixed;
}

h1{
	font-family: 'Julius Sans One', sans-serif;
	font-size: 60px;
}

li{
	margin-bottom: 20px;
	font-weight: bold;
}

img{
	height: auto;
	width: 900px;
	margin: 50px;
	border: solid 3px #fad390;
	border-radius: 20px;
	box-shadow: 0px 0px 100px 0px rgba(0,0,0,0.5);
}