*{box-sizing: border-box;}

body{
	margin: 0;
	padding: 0;
	font-size: 20px;
	text-align: center;
	background-color: #dff9fb;
}

img{
	float: none;
	height: auto;
	width: 34vw;
	border: 3px solid black;
	margin-right: 3.5vw;
	border-radius: 25px;
	margin: auto;
	margin-bottom: 20px;
	margin-top: 20px;
}

.EA{
	width: 100%;
	margin: 0;
	border: none;
}

p{
	font-family: 'Josefin Sans', sans-serif;
	text-align: left;
	margin-right: 40px;
	margin-left: 40px;
	font-size: 1.2em;
}

h1{
	font-family: 'Rock Salt', cursive;
	padding: 0;
	margin: 0;
	text-shadow: 10px 10px rgba(0,0,0,0.1);
}

h3{
	font-family: 'Alegreya Sans SC', sans-serif;
	font-weight: 900;
	font-size: 5.75em;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
	margin-top: -43px;
	text-shadow: 10px 10px rgba(0,0,0,0.1);
	/*z-index: -1;*/
}

h2{
	font-family: 'Alegreya Sans SC', sans-serif;
	margin-bottom: 0px;
}

.container{
	width: 75%;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 40px;
	/*background-color: white;*/
	/*border: 3px solid black;*/
}

.containerTitle{
	width: 75%;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 40px;
	/*background-color: white;*/
	/*border: 3px solid black;*/
	height: default;
}

.shelfLeft{
	width: 40vw;
	margin: auto;
	/*border: 3px solid black;*/
	padding: 20px;
	border-radius: 25px;
	background-color: white;
	margin-top: 5vw;
	margin-bottom: 5vw;
	box-shadow: 20px 20px rgba(0,0,0,0.1);
	min-height: none;
	margin-left: 6vw;
	float: left;
}

.shelfRight{
	width: 40vw;
	margin: auto;
	/*border: 3px solid black;*/
	padding: 20px;
	border-radius: 25px;
	background-color: white;
	margin-top: 5vw;
	margin-bottom: 5vw;
	box-shadow: 20px 20px rgba(0,0,0,0.1);
	min-height: none;
	margin-right: 6vw;
	float: right;
}

.shelfTop{
	width: 40vw;
	margin: auto;
	/*border: 3px solid black;*/
	padding: 20px;
	border-radius: 25px;
	background-color: white;
	margin-top: 5vw;
	margin-bottom: 5vw;
	box-shadow: 20px 20px rgba(0,0,0,0.1);
	min-height: none;
	margin-left: 6vw;
	float: left;
}

.E{
	font-size: 2em;
	font-weight: bold;
}

.sticky{
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	background-color: white;
	box-shadow: 0px 10px rgba(0,0,0,0.1);
}

@media only screen and (max-width: 2160px){
	.shelfLeft{
		width: 75vw;
		min-height: 37vw;
		margin-left: auto;
		float: none;
	}

	.shelfRight{
		width: 75vw;
		min-height: 37vw;
		margin-right: auto;
		float: none;
	}

	.shelfTop{
		width: 75vw;
		margin-left: auto;
		float: none;
		min-height: none;
	}

	img{
		float: right;
	}

	.EA{
		width: 50vw;
	}

	.containerTitle{
		width: 50%;
		height: 35.57692vw;
		margin-left: 0;
		margin-right: 0;
	}

	.container{
		width: 50%;
		margin-left: 0;
		margin-right: 0;
	}

	p{
		font-size: 1em;
	}
}


@media only screen and (max-width: 1280px){

	body{
		/*background-color: white;*/
	}

	.containerTitle{
		height: 35.57692vw;
		width: 100%;
	}

	.container{
		width: 100%;
	}

	.shelfLeft{
		width: 90vw;
		min-height: 37vw;
		margin-left: auto;
		float: none;
	}

	.shelfRight{
		width: 90vw;
		min-height: 37vw;
		margin-right: auto;
		float: none;
	}

	.shelfTop{
		width: 90vw;
		min-height: 37vw;
		margin-left: auto;
		float: none;
		min-height: none;
	}

	img{
		float: right;
	}

	.EA{
		width: 50vw;
	}
}


@media only screen and (max-width: 768px){
	img{
		float: none;
		width: 100%;
		border: 3px solid black;
		border-radius: 25px;
		margin: auto;
		margin-bottom: 20px;
		margin-top: 20px;
	}

	.shelfLeft{
		width: 100%;
		min-height: 37vw;
		box-shadow: 0px 20px rgba(0,0,0,0.1);
		border-radius: 0px;
		margin-left: 0;
		float: none;
		height: auto;
	}

	.shelfRight{
		width: 100%;
		min-height: 37vw;
		box-shadow: 0px 20px rgba(0,0,0,0.1);
		border-radius: 0px;
		margin-right: 0;
		float: none;
		height: auto;
	}

	.shelfTop{
		width: 100%;
		min-height: 37vw;
		box-shadow: 0px 20px rgba(0,0,0,0.1);
		border-radius: 0px;
		margin-left: auto;
		float: none;
		height: auto;
	}

	.EA{
		width: 100%;
		float: none;
		border-radius: 25px;
		margin: auto;
		margin-bottom: 20px;
		margin-top: 20px;
	}

	.containerTitle{
		height: auto;
		width: 100%;
	}

	.container{
		width: 100%;
		height: auto;
	}
}
