*{
	box-sizing: border-box;
	transition: all 0.5s ease;
}
body{
	margin: 0;
	padding: 0;
	background-color: #bdc3c7;
	font-size: 24px;
	color: #2d3436;
}
.page{
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
}
.field{
	height: 40vw;
	width: 80vw;
	position: absolute;
	top: calc((100vh - 40vw) / 2);
	left: calc((100vw - 80vw) / 2);
	/*border: solid 5px black;*/
}
.guess__Default{
	border: dashed 10px #2d3436;
	transition: 1s ease all;
}
.guess__Correct{
	border: solid 10px #00b894;
	box-shadow: 0px 0px 80px rgba(0, 184, 148, 0.5);
	transition: 1s ease all;
}
.guess__Wrong{
	border: solid 10px #d63031;
	box-shadow: 0px 0px 80px rgba(214, 48, 49, 0.5);
	transition: 1s ease all;
}
.guess{
	height: 15vw;
	width: 15vw;
	float: left;
	margin: 2.5vw;
	border-radius: 50px;
}
.button__holder{
	height: 15vw;
	width: 15vw;
	float: left;
	margin: 2.5vw;
}
.fake__Guess{
	opacity: 0%;
	top: -100vw;
	position: fixed;
}
.red{
	background-color: #ff7675;
}
.blue{
	background-color: #74b9ff;
}
.yellow{
	background-color: #fdcb6e;
}
.green{
	background-color: #55efc4;
}
.red__btn, .green__btn, .blue__btn, .yellow__btn{
	height: 5vw;
	width: 5vw;
	margin: calc((15vw - 5vw) / 8);
	float: left;
	border-radius: 25px;
	border: solid 5px rgba(45, 52, 54,1.0);
	font-size: 2em;
	font-family: 'Montserrat Alternates', sans-serif;
}

.red__btn:hover, .green__btn:hover, .blue__btn:hover, .yellow__btn:hover{
	border: solid 5px rgba(99, 110, 114,1.0);
	color: rgba(99, 110, 114,1.0);
}

button:hover{cursor: pointer;}
button:focus {outline:0;}
button{color: rgba(45, 52, 54,1.0);}
.red__btn{background-color: rgba(255, 118, 117, 1.0);}
.red__btn:hover{background-color: rgba(250, 177, 160,1.0)}

.green__btn{background-color: rgba(85, 239, 196, 1.0);}
.green__btn:hover{background-color: rgba(129, 236, 236,1.0)}

.blue__btn{background-color: rgba(116, 185, 255, 1.0);}
.blue__btn:hover{background-color: #81D4FA;}

.yellow__btn{background-color: rgba(253, 203, 110, 1.0);}
.yellow__btn:hover{background-color: rgba(255, 234, 167,1.0);}

.check__btn{
	position: fixed;
	top: calc((100vh - 3vw) / 2);
	left: calc((100vw - 75vw) / 2);
	width: 75vw;
	height: 4vw;
	background-color: rgba(223, 230, 233, 1.0);
	border: solid 5px rgba(45, 52, 54,1.0);
	border-radius: 15px;
	font-size: 2em;
	font-family: 'Montserrat Alternates', sans-serif;
}

.check__btn:hover{
	border: solid 5px rgba(99, 110, 114,1.0);
	color: rgba(99, 110, 114,1.0);
	background-color: #ffffff;
}

.dontShow{
	/*display: none;*/
	opacity: 0;
	transition: all 2s ease;
	z-index: -20;
	transition: z-index 0s;
}

.you__win{
	height: 50vh;
	width: 50vw;
	position: fixed;
	top: 25vh;
	left: 25vw;
	background-color: rgba(85, 239, 196,1.0);
	border: solid 10px rgba(0, 184, 148,1.0);
	border-radius: 25px;
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 2em;
	transition: all 2s ease;
	transition: z-index 0s;
	text-align: center;
	padding-top: 20vh;
}

.show{
	/*display: block;*/
	transition: all 2s ease;
	opacity: 1;
	z-index: 5;
	transition: z-index 0s;
}

.red__btn:active, .green__btn:active, .blue__btn:active, .yellow__btn:active, .check__btn:active{
	background-color: rgba(178, 190, 195,1.0);
	color: rgba(178, 190, 195,1.0);
}

.ins{
	height: 2vw;
	width: 10vw;
	position: fixed;
	top: 50px;
	left: 50px;
	background-color: rgba(223, 230, 233,1.0);
	border: solid 2px rgba(45, 52, 54,1.0);
	text-align: center;
	border-radius: 10px;
	font-family: 'Architects Daughter', cursive;
	z-index: 20;
	transition: 0.5s ease all;
	overflow: hidden;
}

.ins:hover{
	height: 15vw;
	width: 25vw;
	border: solid 5px rgba(45, 52, 54,1.0);
	padding: 2vw;
	padding-left: 3vw;
	padding-right: 3vw;
	font-size: 0.8em;
}