*{
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
	/*overflow: visible;*/
}

.title__column{
	width: 100%;
	/*height: 1026px;*/
	float: left;
	background-color: black;
	/*border: 5px solid black;*/

}

.nav{
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	/*width: 100%;*/
	height: 54px;
	/*float: left;*/
	background-color: rgba(75,75,75, 0.5);
	/*border: 5px solid black;*/
	text-align: center;
}

.nav__tile{
	float: left;
	width: 192;
	height: 54px;
	background-color: rgba(75,75,75, 0.5);
}

.whole__page{
	width: 1920px;
	height: 1080px;

}
.whole__column{
	width: 100%
	height: 1080px;
	float: left;
	text-align: center;
	border: 5px solid black;
}

.half__column{
	width: 50%;
	height: 1080px;
	float: left;
	text-align: center;
	border: 5px solid black;
}

img{
	width: auto;
	height: 1026px;
	margin: auto;
}