*{
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
	/*overflow: hidden;*/
	height: 4000px;
}
nav{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	padding: 10px 100px;
	transition: 0.5s ease all;
}
nav.show{
	background: rgba(255, 255, 255, 0.5);
	height: 100px;
	padding: 10px 100px;
}
nav .logo{
	padding: 22px 20px;
	height: 80px;
	float: left;
	font-size: 24px;
	transition: 0.5s ease all;
	color: #fff;
}
nav.show .logo{
	color: #fff;
}
nav ul{
	list-style: none;
	float: right;
	margin: 0;
	padding: 0;
	display: flex;
}
nav ul li{
	list-style: none;
}
nav ul li a{
	line-height: 80px;
	color: #fff;
	padding: 12px 30px;
	text-decoration: none;
	text-transform: uppercase;
	transition: 0.5s ease all;
}
nav.show ul li a{
	color: #fff;
}
nav ul li a:focus{
	outline: none;
}
nav ul li a.active{
	background: #E2472F;
	color: #fff;
	border-radius: 6px;
}


.header__pic{
	width: 100%;
	height: 100vh;
	background: url(chalk.jpg);
	background-size: cover;
	background-position: center;
}