*{
	box-sizing: border-box;
	font-size: 24px;
	margin: 0;
	padding: 0;
}

h1{
	font-size: 4em;
	font-family: 'Monoton', cursive;
	color: #f5f6fa;
	margin-top: 2.5vw;
	margin-bottom: 2.5vw;
}

h2{
	font-size: 2em;
	font-family: 'Cabin Sketch', cursive;
	color: #f5f6fa;
}

body{
	background-color: #487eb0;
	text-align: center;
}

.desktop{
	width: 75vw;
	height: auto;
	margin: auto;
}

.mobile{
	width: 30vw;
	height: auto;
	margin: auto;
}