*{
	box-sizing: border-box;
	font-size: 32px;
	font-family: 'Montserrat', sans-serif;

}

body {
	margin: 0px;
	padding: 0px;
	padding-left: 15vw;
	padding-right: 15vw;
	background-color: #0a3d62;
	text-align: center;
}

h1 {
	/*margin-left: 0;*/
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 4em;
	z-index: inherit;
}

h3 {
	/*margin-left: 6vw;*/
	margin: 0;
	font-size: 2em;
	z-index: inherit;
}

p {
	text-align: left;
	margin: 40px;
	margin-top: 150px;
	margin-bottom: 150px;
	font-family: 'Cuprum', sans-serif;
	color: #82ccdd;
}

.holder{
	position: fixed;
	left: 30vw;
	top: 30vh;
	height: 40vw;
	width: 40vw;
	text-align: center;
	z-index: -1;
	color: #3c6382;
}