*{
	box-sizing: border-box;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;

}

body {
	margin: 0px;
	padding: 0px;
	padding-left: 27vw;
	padding-right: 27vw;
	background-color: white;
	text-align: center;
}

h1 {
	/*margin-left: 0;*/
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 4.75em;
	text-align: center;
}

h3 {
	/*margin-left: 6vw;*/
	margin-top: -20px;
	margin-bottom: -30px;
	margin-right: 20px;
}

p {
	text-align: left;
	margin: 40px;
	margin-top: 150px;
	font-family: 'Cuprum', sans-serif;
	font-size: 2em;
}

.title{
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 20px;
	text-align: right;
}